{% extends "base_generic.html" %}

{% block content %}
	<h1>My art</h1>
	<img src = "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c3a2bec2-9abf-4a61-9f1b-38fb9ad4a79d/ddukbj3-afcb85c5-8240-46af-aa70-fe5fbb8d8903.png/v1/fill/w_1280,h_1707,q_80,strp/miles_prower_by_revenge_of_shadow_ddukbj3-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTcwNyIsInBhdGgiOiJcL2ZcL2MzYTJiZWMyLTlhYmYtNGE2MS05ZjFiLTM4ZmI5YWQ0YTc5ZFwvZGR1a2JqMy1hZmNiODVjNS04MjQwLTQ2YWYtYWE3MC1mZTVmYmI4ZDg5MDMucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.7LA76HqnSRcH85KzBTKJQPa0VCxjaFr8KJS8s2aAaYw">
{% endblock %}
		